@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@if (currentCount.Equals(0) || currentCount.Equals(2))
{
    <h2>Entrou</h2>
}


@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
